/*
  Don't forget to style the results from the search!
  And anything else you add to the application, for that matter.
*/
html, body {
  background-color: #c2d2e7;
  margin: 0;
}

.flexsearch-wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0 1em;
  position: static;
}

.flexsearch-form {
  overflow: hidden;
  position: relative;
}

.flexsearch-input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch-input {
  width: 100%;
}

.flexsearch {
  padding: 10px;
}

.flexsearch-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  width: 100%;
  padding: 0 46px 0 10px;
  border-color: #888;
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch-submit {
  position: absolute;
  right: 0;
  top: 5px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  outline: 0;
  margin-right: 0px;
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch-input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch-input:focus.flexsearch-submit {
  color: #333;
}

.flexsearch-submit:hover {
  color: #333;
  cursor: pointer;
}

.flexsearch-submit:active {
  color: #1AB517;
  cursor: pointer
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}

.h1 {
  color: #FFFFFF;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  background-color: #0C1155;
  margin: 0 0 0.8em 0;
  padding: 0.5em 0;
  border-bottom: 3px solid #CCC;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.flexsearch-results {
  display: relative;
  width: 93%;
  margin: 0 auto;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
}

.flexsearch-results-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #B8B8B8;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.flexsearch-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flexsearch-list li {
}

.flexsearch-list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.2em 0.5em;
}

.flexsearch-list a:hover {
  background-color: #F1F1F1;
}
